<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{/layout.html}">
<head>
</head>
<body>
<div layout:fragment="contents">
    <h2 text="th:${session.user.email}"></h2>
<nav>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="../index.html">Logout</a></li>


    </ul>
</nav>
<h2><strong>Submit a claim for the following expense</strong></h2>
    <table>
        <tr>
            <td id="expense_date" th:text="${date}">2020/10/03</td>
            <td id="expense_description" th:text="${description}">Friday lunch</td>
            <td id="expense_amount" th:text="${amount}">500.00</td>
        </tr>
    </table>

    <form id="claim_form" action="api/claims" method="post">
        <label for="email">The email address of the person that should pay you</label>
        <input name="email" id="email" type="email" autofocus required>
        <label for="claim_amount">The amount they should pay</label>
        <input name="claim_amount" id="claim_amount" type="number" autofocus required>
        <label for="due_date">By when must this claim be settled</label>
<!--        <input name="due_date" id="due_date" type="date" autofocus required>-->
        <input name="due_date" id="due_date" type="text" autofocus required>
        <input type="hidden" name="expenseId" id="expenseId" th:value="${expense.id}">

        <button id="add_claim" type="submit">Add Claim</button>
    </form>

    <div id="claims_section">
        <h2>Previous claims for this expense</h2>
        <table id="claims">
        <tbody>

        <tr th:each="claim : ${claims}">
            <td th:id="${#ids.seq('claim_who_')}" th:text="${claim.claimedFrom.getName}"></td>
            <td th:id="${#ids.seq('claim_date_')}" th:text="${claim.dueDate}"></td>
            <td th:id="${#ids.seq('claim_settled_')}" th:text="${claim.settled}? 'Yes' : 'No'"></td>
            <td th:id="${#ids.seq('claim_amount_')}" th:text="${#numbers.formatDecimal(claim.amount, 0, 'COMMA', 2, 'POINT')}"></td>
        </tr>

        </tbody>

        <tfoot>

        <tr>
            <td colspan="3"></td>
            <td><b id="total_claims" th:text="${#numbers.formatDecimal(claims_total, 0, 'COMMA', 2, 'POINT')}"></b></td>
        </tr>
        <tr>
            <td colspan="3">Amount that has not been claimed</td>
            <td><b id="unclaimed_amount" th:text="${#numbers.formatDecimal(unclaimed_amount, 0, 'COMMA', 2, 'POINT')}"></b></td>
        </tr>
        </tfoot>
        </table>
    </div>


    <script src="js/claimexpense.js"></script>
</div>

</body>

</html>