<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{/layout.html}">
<head>
    <link rel="stylesheet" type="text/css" href="../html/css/main.css">
</head>
<body>

<nav>
    <a href="/home">Home</a>

</nav>
<div layout:fragment="contents"><br>
    <h2>Simple and quick way to know the worth of your second hand item</h2>
    <form id="phone_form" method="post" action="/add">

        <h1>Fill in the details on your phone!</h1>


<!--        //create a drop-down list with four options:-->

        <label for="dropdown">Choose a model:</label>

        <select name="models" id="dropdown">
            <option th:each="itemsfrom : ${userAddedItems}" th:value="${itemsfrom.toString()}">Volvo</option>
<!--            <option value="saab">Saab</option>-->

        </select>

        <input name="description" id="description" type="text" placeholder="Enter description">
        <label name="description">
        <br>

            <input name="amount" id="amount" type="number" placeholder="0.00">
        <label for="amount">Brand new price</label>

        <br>

            <input type="number" name="age" id="age" placeholder="Enter number of years">
        <label for="age">How many years old is the phone?</label>

        <br>

        <p> for="amount">Is the package sealed</p>
            <input type="radio" id="Yes" name="Yes" value="Yes">
        <label for="Yes">Yes</label><br>

        <input type="radio" id="No" name="No" value="No">
        <label for="No">No</label><br>
            <br>
        <p for="amount">Does phone come with a charger?</p>
            <input type="radio" id="Ja" name="Yes" value="Yes">
        <label for="Yes">Yes</label><br>

        <input type="radio" id="Nee" name="No" value="No">
        <label for="No">No</label><br>


        <br>
        <p for="amount">Is your phone scratched?</p>
        <input type="radio" id="Ewe" name="Yes" value="Yes">
        <label for="Yes">Yes</label><br>
        <input type="radio" id="Hayibo" name="No" value="No">
        <label for="No">No</label><br>

        <br>
        <input id="submit" type="submit" value="Submit"/><br>

        <a href="/home">Cancel</a>

    </form>

</div>

<script src="js/modeldropdown.js"></script>
</body>

</html>